In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.functions import *
from pyspark.sql.types import *

# initialize
working_directory = 'main/jars/'

spark = SparkSession \
    .builder \
    .appName('data-public_local') \
    .config('spark.driver.extraClassPath',
            working_directory + 'postgresql-42.2.5.jar') \
    .master("local[*]") \
    .getOrCreate()

In [2]:
# get data from parquet files
output_directory = 'main/outputdata'

badges = spark.read.parquet(output_directory + '/Badges/*')
posts = spark.read.parquet(output_directory + '/Posts/*')
users = spark.read.parquet(output_directory + '/Users/*')
posthistory=spark.read.parquet(output_directory + '/PostHistory/*')


badges.createOrReplaceTempView("badges_sql")
posts.createOrReplaceTempView("posts_sql")
users.createOrReplaceTempView("users_sql")
posthistory.createOrReplaceTempView("posthistory_sql")

In [3]:
comments=spark.read.parquet(output_directory + '/Comments/*')
comments.createOrReplaceTempView("comments_sql")

Total number of posts

In [30]:
# create table with number of posts per user
posts_number = spark.sql("SELECT tmp.ownerUserId, COUNT(*) as totalNumberOfPosts"
                         " FROM (posts_sql join users_sql"
                         "     on users_sql.id == posts_sql.ownerUserId) as tmp"
                         " GROUP BY tmp.ownerUserId"
                         )

posts_number.createOrReplaceTempView("posts_number_sql")

# JOIN with users table -> users table with number of posts
new_users_1 = spark.sql(" SELECT tmp.id, tmp.reputation, tmp.creationDate, tmp.displayName, tmp.emailHash,"
                                     " tmp.lastAccessDate, tmp.websiteUrl, tmp.location, tmp.age, tmp.aboutMe, tmp.views,"
                                     " tmp.upVotes, tmp.downVotes, tmp.profileImageUrl, tmp.accountId, COALESCE(tmp.totalNumberOfPosts, 0) as totalNumberOfPosts"
                                     " FROM (users_sql LEFT OUTER JOIN posts_number_sql"
                                     "  on users_sql.id == posts_number_sql.ownerUserId) as tmp")

new_users_1.createOrReplaceTempView("new_users_1_sql")
new_users_1.show(3)

+-----+----------+--------------------+---------------+---------+--------------------+--------------------+-----------+----+--------------------+-----+-------+---------+---------------+---------+------------------+
|   id|reputation|        creationDate|    displayName|emailHash|      lastAccessDate|          websiteUrl|   location| age|             aboutMe|views|upVotes|downVotes|profileImageUrl|accountId|totalNumberOfPosts|
+-----+----------+--------------------+---------------+---------+--------------------+--------------------+-----------+----+--------------------+-----+-------+---------+---------------+---------+------------------+
|18974|       101|2015-11-09 09:31:...|          Celos|     null|2021-02-24 11:52:...|  http://mihkel.org/|    Estonia|null|                null|    0|      0|        0|           null|  1107512|                 0|
|  750|       101|2011-08-19 03:20:...|Prince Ashitaka|     null|2011-08-19 03:20:...|http://stackoverf...|Buffalo, NY|null|<p><strong>Links:...|    2|      5|        0|           null|   100177|                 0|
|16749|       101|2015-07-31 17:47:...|        a7-wald|     null|2015-07-31 17:47:...|                null|       null|null|                null|    2|      0|        0|           null|  6717529|                 1|
+-----+----------+--------------------+---------------+---------+--------------------+--------------------+-----------+----+--------------------+-----+-------+---------+---------------+---------+------------------+
only showing top 3 rows

In [28]:
# Creation date of the last post which has comments
last_post = spark.sql("""SELECT CreationDate,PostId,Comment FROM posthistory_sql
WHERE CreationDate IN (SELECT max(CreationDate) FROM posthistory_sql)""")


last_post.createOrReplaceTempView("last_post_sql")

In [27]:
#Average number of comments per month

avg_commnts=spark.sql("""select count(*) / count(distinct Month(CreationDate)) from comments_sql""")


avg_commnts.createOrReplaceTempView("avg_commnts_sql")

In [31]:
# table with critics
critics = spark.sql("SELECT tmp.userId, tmp.name as badge"
                            " FROM (badges_sql join users_sql"
                            " on badges_sql.userId == users_sql.id) as tmp"
                            " WHERE tmp.name == 'Critic'"
                            )

critics = critics.withColumn("critic", when(critics.badge == "Critic", 1).otherwise(0)).drop(col("badge"))
critics.createOrReplaceTempView("critics_sql")
critics.show(3)


new_users_2 = spark.sql(" SELECT tmp.id, tmp.reputation, tmp.creationDate, tmp.displayName, tmp.emailHash,"
                        " tmp.lastAccessDate, tmp.websiteUrl, tmp.location, tmp.age, tmp.aboutMe, tmp.views,"
                        " tmp.upVotes, tmp.downVotes, tmp.profileImageUrl, tmp.accountId, tmp.totalNumberOfPosts,"
                        " COALESCE(tmp.critic, 0) as critic"
                      " FROM (new_users_1_sql LEFT OUTER JOIN critics_sql"
                      "  on new_users_1_sql.id == critics_sql.userId) as tmp")

new_users_2.createOrReplaceTempView("new_users_2_sql")

new_users_2.show(3)

+------+------+
|userId|critic|
+------+------+
|   149|     1|
|  3181|     1|
| 16039|     1|
+------+------+
only showing top 3 rows

+-----+----------+--------------------+---------------+---------+--------------------+--------------------+-----------+----+--------------------+-----+-------+---------+---------------+---------+------------------+------+
|   id|reputation|        creationDate|    displayName|emailHash|      lastAccessDate|          websiteUrl|   location| age|             aboutMe|views|upVotes|downVotes|profileImageUrl|accountId|totalNumberOfPosts|critic|
+-----+----------+--------------------+---------------+---------+--------------------+--------------------+-----------+----+--------------------+-----+-------+---------+---------------+---------+------------------+------+
|18974|       101|2015-11-09 09:31:...|          Celos|     null|2021-02-24 11:52:...|  http://mihkel.org/|    Estonia|null|                null|    0|      0|        0|           null|  1107512|                 0|     0|
|  750|       101|2011-08-19 03:20:...|Prince Ashitaka|     null|2011-08-19 03:20:...|http://stackoverf...|Buffalo, NY|null|<p><strong>Links:...|    2|      5|        0|           null|   100177|                 0|     0|
|16749|       101|2015-07-31 17:47:...|        a7-wald|     null|2015-07-31 17:47:...|                null|       null|null|                null|    2|      0|        0|           null|  6717529|                 1|     0|
+-----+----------+--------------------+---------------+---------+--------------------+--------------------+-----------+----+--------------------+-----+-------+---------+---------------+---------+------------------+------+
only showing top 3 rows

In [32]:
# table with editors
editors = spark.sql("SELECT tmp.userId, tmp.name as badge"
                    " FROM (badges_sql join users_sql"
                    " on badges_sql.userId == users_sql.id) as tmp"
                    " WHERE tmp.name == 'Editor'"
                    )

editors = editors.withColumn("editor", when(editors.badge == "Editor", 1).otherwise(0)).drop(
    col("badge"))
editors.createOrReplaceTempView("editors_sql")
editors.show(3)

new_users_3 = spark.sql(" SELECT tmp.id, tmp.reputation, tmp.creationDate, tmp.displayName, tmp.emailHash,"
                        " tmp.lastAccessDate, tmp.websiteUrl, tmp.location, tmp.age, tmp.aboutMe, tmp.views,"
                        " tmp.upVotes, tmp.downVotes, tmp.profileImageUrl, tmp.accountId, tmp.totalNumberOfPosts,"
                        " tmp.critic, COALESCE(tmp.editor, 0) as editor"
                       " FROM (new_users_2_sql LEFT OUTER JOIN editors_sql"
                       "  on new_users_2_sql.id == editors_sql.userId) as tmp")

new_users_3.createOrReplaceTempView("new_users_3_sql")

new_users_3.show(3)

+------+------+
|userId|editor|
+------+------+
| 16929|     1|
| 21691|     1|
|   701|     1|
+------+------+
only showing top 3 rows

+-----+----------+--------------------+---------------+---------+--------------------+--------------------+-----------+----+--------------------+-----+-------+---------+---------------+---------+------------------+------+------+
|   id|reputation|        creationDate|    displayName|emailHash|      lastAccessDate|          websiteUrl|   location| age|             aboutMe|views|upVotes|downVotes|profileImageUrl|accountId|totalNumberOfPosts|critic|editor|
+-----+----------+--------------------+---------------+---------+--------------------+--------------------+-----------+----+--------------------+-----+-------+---------+---------------+---------+------------------+------+------+
|18974|       101|2015-11-09 09:31:...|          Celos|     null|2021-02-24 11:52:...|  http://mihkel.org/|    Estonia|null|                null|    0|      0|        0|           null|  1107512|                 0|     0|     0|
|  750|       101|2011-08-19 03:20:...|Prince Ashitaka|     null|2011-08-19 03:20:...|http://stackoverf...|Buffalo, NY|null|<p><strong>Links:...|    2|      5|        0|           null|   100177|                 0|     0|     0|
|16749|       101|2015-07-31 17:47:...|        a7-wald|     null|2015-07-31 17:47:...|                null|       null|null|                null|    2|      0|        0|           null|  6717529|                 1|     0|     0|
+-----+----------+--------------------+---------------+---------+--------------------+--------------------+-----------+----+--------------------+-----+-------+---------+---------------+---------+------------------+------+------+
only showing top 3 rows

In [33]:
# table with last 30 days number ofposts
number_posts_30_days = spark.sql("SELECT p.ownerUserId, COUNT(*) as lastMonthNumberOfPosts"
          " FROM posts_sql as p"
          " WHERE (CURRENT_TIMESTAMP - INTERVAL 30 days) <= p.creationDate"
          " GROUP BY p.ownerUserId")

number_posts_30_days.createOrReplaceTempView("number_posts_30_days_sql")

final_users = spark.sql(" SELECT tmp.id, tmp.reputation, tmp.creationDate, tmp.displayName, tmp.emailHash,"
                                    " tmp.lastAccessDate, tmp.websiteUrl, tmp.location, tmp.age, tmp.aboutMe, tmp.views,"
                                    " tmp.upVotes, tmp.downVotes, tmp.profileImageUrl, tmp.accountId, tmp.totalNumberOfPosts,"
                                    " tmp.critic, tmp.editor, COALESCE(tmp.lastMonthNumberOfPosts,0) as lastMonthNumberOfPosts"
                                     " FROM (new_users_3_sql LEFT OUTER JOIN number_posts_30_days_sql"
                                     "  on new_users_3_sql.id == number_posts_30_days_sql.ownerUserId) as tmp")

final_users.createOrReplaceTempView("final_users_sql")

final_users.show(3)

+-----+----------+--------------------+---------------+---------+--------------------+--------------------+-----------+----+--------------------+-----+-------+---------+---------------+---------+------------------+------+------+----------------------+
|   id|reputation|        creationDate|    displayName|emailHash|      lastAccessDate|          websiteUrl|   location| age|             aboutMe|views|upVotes|downVotes|profileImageUrl|accountId|totalNumberOfPosts|critic|editor|lastMonthNumberOfPosts|
+-----+----------+--------------------+---------------+---------+--------------------+--------------------+-----------+----+--------------------+-----+-------+---------+---------------+---------+------------------+------+------+----------------------+
|18974|       101|2015-11-09 09:31:...|          Celos|     null|2021-02-24 11:52:...|  http://mihkel.org/|    Estonia|null|                null|    0|      0|        0|           null|  1107512|                 0|     0|     0|                     0|
|  750|       101|2011-08-19 03:20:...|Prince Ashitaka|     null|2011-08-19 03:20:...|http://stackoverf...|Buffalo, NY|null|<p><strong>Links:...|    2|      5|        0|           null|   100177|                 0|     0|     0|                     0|
|16749|       101|2015-07-31 17:47:...|        a7-wald|     null|2015-07-31 17:47:...|                null|       null|null|                null|    2|      0|        0|           null|  6717529|                 1|     0|     0|                     0|
+-----+----------+--------------------+---------------+---------+--------------------+--------------------+-----------+----+--------------------+-----+-------+---------+---------------+---------+------------------+------+------+----------------------+
only showing top 3 rows

In [48]:
# writing to remote  database

# TODO pass your database properties here
properties_remote = {
    'driver': 'org.postgresql.Driver',
    'url': 'jdbc:postgresql:stackoverflow',
    'user': 'postgres',
    'password': 'test123',
    'dbtable': 'users',
}

final_users.write \
    .format('jdbc') \
    .option('driver', properties_remote['driver']) \
    .option('url', properties_remote['url']) \
    .option('user', properties_remote['user']) \
    .option('password', properties_remote['password']) \
    .option('dbtable', properties_remote['dbtable']) \
    .mode('append') \
    .save()

In [49]:
# read from temote database

df_remote = spark.read \
    .format('jdbc') \
    .option('driver', properties_remote['driver']) \
    .option('url', properties_remote['url']) \
    .option('user', properties_remote['user']) \
    .option('password', properties_remote['password']) \
    .option('dbtable', properties_remote['dbtable']) \
    .load()


df_remote.select('*').show(3)
print(df_remote.count())
df_remote.select('*').where(col('id') == 8).show()